body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.top-banner{
    background-image: url(../img/top-banner.jpg) !important;
    background-repeat: no-repeat;
}

.half-width{
    width:40%;
    
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
section{
    display: flex;
}

